In [5]:
import os
print(os.getcwd())

/Users/kianatalavera/Desktop/pandas-challenge

In [6]:
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [7]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [8]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [10]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [11]:
#Calculate the total number of schools
total_schools=school_data["school_name"].count()
total_schools

15

In [12]:
#Total students
total_students=student_data["student_name"].count()
total_students

39170

In [13]:
#Total budget
total_budget=school_data["budget"].sum()
total_budget

24649428

In [14]:
#Average math score
avg_math=student_data["math_score"].mean()
avg_math

78.98537145774827

In [15]:
#Average reading score
avg_reading=student_data["reading_score"].mean()
avg_reading

81.87784018381414

In [16]:
#% passing math
perc_passing_math=(school_data_complete["math_score"]>70).sum()/ school_data_complete["math_score"].count()*100
perc_passing_math

72.39213683941792

In [17]:
#% passing reading
perc_passing_read=(school_data_complete["reading_score"]>70).sum()/ school_data_complete["reading_score"].count()*100
perc_passing_read

82.97166198621395

In [18]:
#% overall passing
overall_passing=((avg_math + avg_reading)/2)
overall_passing

80.43160582078121

# DISTRICT SUMMARY

In [19]:
#District Summary df
district_summary= pd.DataFrame ({"Total Schools":[total_schools],"Total students":[total_students],"Total budget":[total_budget],
                                "Average math score":[avg_math],"Average reading score":[avg_reading],"% passing math":[perc_passing_math],
                                "% passing reading":[perc_passing_read],"% overall passing":[overall_passing]})
district_summary

,Total Schools,Total students,Total budget,Average math score,Average reading score,% passing math,% passing reading,% overall passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

In [20]:
#School name
school_names=school_data_complete["school_name"].unique()
school_names
#15 schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [21]:
#chool type
sch_types=school_data.set_index(["school_name"])["type"]
sch_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [22]:
#Total students
stud_per_sch=school_data_complete["school_name"].value_counts()
stud_per_sch.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [23]:
#Total school budget
tot_budget=school_data_complete.groupby(["school_name"])["budget"].mean()
tot_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [24]:
#Per student budget
bud_per_stud=tot_budget/stud_per_sch
bud_per_stud

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
#Average math score per school
avg_math_sch=school_data_complete.groupby(["school_name"])["math_score"].mean()
avg_math_sch.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [26]:
#Average reading score per school
avg_reading_sch=school_data_complete.groupby(["school_name"])["reading_score"].mean()
avg_reading_sch.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [27]:
#% passing math per school
pass_math_persch=school_data_complete.loc[school_data_complete["math_score"]>=70]
pass_math_persch

group_math_sch=pass_math_persch["school_name"].value_counts()
group_math_sch.head()

percent_math=group_math_sch/stud_per_sch*100
percent_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [28]:
#% passing reading per school
pass_reading_persch=school_data_complete.loc[school_data_complete["reading_score"]>=70]
pass_reading_persch

by_read_PerSch= pass_reading_persch["school_name"].value_counts()
by_read_PerSch.head()

percent_read=by_read_PerSch/stud_per_sch*100
percent_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [29]:
#% overall passing per school

overall=percent_math + percent_read/stud_per_sch
overall

Bailey High School       66.696530
Cabrera High School      94.185705
Figueroa High School     66.015849
Ford High School         68.338554
Griffin High School      93.458542
Hernandez High School    66.770413
Holden High School       92.731271
Huang High School        65.711799
Johnson High School      66.074611
Pena High School         94.694331
Rodriguez High School    66.386652
Shelton High School      93.921553
Thomas High School       93.331687
Wilson High School       93.910004
Wright High School       93.387006
Name: school_name, dtype: float64

In [30]:
#School Summary
school_summary_df = pd.DataFrame({"School Type":sch_types, "Total Students":stud_per_sch, "Total School Budget":tot_budget
                                ,"Per Student Budget":bud_per_stud ,"Average Math Score" :avg_math_sch,
                             "Average Reading Score":avg_reading_sch,
                             "% Passing Math":percent_math, "% Passing Reading":percent_read,
                            "% Overall Passing Rate":overall})
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [31]:
#top schools DF (overall passing)
top_schools_df=school_summary_df.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate" ], 
                                        ascending=False)
top_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [32]:
#lowest performing school DF (overall passing)
bottom_schools_df=school_summary_df.sort_values("% Overall Passing Rate")
bottom_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530

In [33]:
#math scores by grade
math_9th=student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_9th.head()
math_10th=student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_10th.head()
math_11th=student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
math_11th.head()
math_12th=student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()
math_12th.head()

school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Name: math_score, dtype: float64

In [34]:
#math scores by grade DF
math_byGrad=pd.DataFrame({"9th":math_9th, "10th": math_10th, "11th":math_11th, "12th":math_12th })
math_byGrad

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [35]:
#reading scores by grade
read_9th=student_data.loc[student_data["grade"] == "9th" ].groupby(["school_name"])["reading_score"].mean()
read_9th.head()
read_10th=student_data.loc[student_data["grade"] == "10th" ].groupby(["school_name"])["reading_score"].mean()
read_10th.head()
read_11th=student_data.loc[student_data["grade"] == "11th" ].groupby(["school_name"])["reading_score"].mean()
read_11th.head()
read_12th=student_data.loc[student_data["grade"] == "12th" ].groupby(["school_name"])["reading_score"].mean()
read_12th.head()

school_name
Bailey High School      80.912451
Cabrera High School     84.287958
Figueroa High School    81.384863
Ford High School        80.662338
Griffin High School     84.013699
Name: reading_score, dtype: float64

In [36]:
#reading scores by grade DF
reading_byGrade=pd.DataFrame({"9th":read_9th,"10th":read_10th, "11th":read_11th, "12th":read_12th })
reading_byGrade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [37]:
#scores school spending
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [38]:
#bins
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [39]:
school_summary_df["Spending Ranges (Per Student)"]=pd.cut(school_summary_df["Total School Budget"]/school_summary_df["Total Students"]
                                            ,bins , labels=group_names)
school_summary_df.head()
spending_summary=school_summary_df .drop(columns=["Total Students", "Total School Budget","School Type", "Per Student Budget"])
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645
Cabrera High School,83.061895,83.975780,94.133477,97.039828,94.185705,<$585
Figueroa High School,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645
Ford High School,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645
Griffin High School,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645
Hernandez High School,77.289752,80.934412,66.752967,80.862999,66.770413,$645-675
Holden High School,83.803279,83.814988,92.505855,96.252927,92.731271,<$585
Huang High School,76.629414,81.182722,65.683922,81.316421,65.711799,$645-675
Johnson High School,77.072464,80.966394,66.057551,81.222432,66.074611,$645-675
Pena High School,83.839917,84.044699,94.594595,95.945946,94.694331,$585-615
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,66.386652,$615-645
Shelton High School,83.359455,83.725724,93.867121,95.854628,93.921553,$585-615
Thomas High School,83.418349,83.848930,93.272171,97.308869,93.331687,$615-645
Wilson High School,83.274201,83.989488,93.867718,96.539641,93.910004,<$585
Wright High School,83.682222,83.955000,93.333333,96.611111,93.387006,<$585

In [40]:
spending_summary =spending_summary.groupby(["Spending Ranges (Per Student)"])
spending_summary.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,93.553497
$585-615,83.599686,83.885211,94.230858,95.900287,94.307942
$615-645,79.079225,81.891436,75.668212,86.106569,75.704636
$645-675,76.997210,81.027843,66.164813,81.133951,66.185607

In [41]:
#bins for school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [42]:
type("School Size")

str

In [43]:
school_summary_df["School Size"]=pd.cut(school_summary_df["Total Students"],size_bins , labels=group_names)
                                            
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645,Medium (1000-2000)

In [44]:
scores_by_sch["School Size"]=pd.cut(school_summary_df["Total Students"],size_bins , labels=group_names)
scores_by_sch.head()

NameError: name 'scores_by_sch' is not defined

In [ ]:
#group by school size
scores_by_sch = scores_by_sch.groupby(["School Size"])
scores_by_sch.mean()

In [ ]:
#scores by school type
scores_by_type= school_summary_df.drop(columns=["Total Students","Total School Budget", "Per Student Budget"])
scores_by_type.head(15)

In [ ]:
#group by school type
school_by_type = scores_by_type.groupby(["School Type"])
school_by_type.mean()