In [1]:
import os
print(os.getcwd())

/Users/kianatalavera/Desktop/pandas-challenge/Resources

In [2]:
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("schools_complete.csv")
student_data_to_load = Path("students_complete.csv")

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
#Calculate the total number of schools
total_schools=school_data["school_name"].count()
total_schools

15

In [8]:
#Total students
total_students=student_data["student_name"].count()
total_students

39170

In [9]:
#Total budget
total_budget=school_data["budget"].sum()
total_budget

24649428

In [10]:
#Average math score
avg_math=student_data["math_score"].mean()
avg_math

78.98537145774827

In [11]:
#Average reading score
avg_reading=student_data["reading_score"].mean()
avg_reading

81.87784018381414

In [12]:
#% passing math
perc_passing_math=(school_data_complete["math_score"]>70).sum()/ school_data_complete["math_score"].count()*100
perc_passing_math

72.39213683941792

In [13]:
#% passing reading
perc_passing_read=(school_data_complete["reading_score"]>70).sum()/ school_data_complete["reading_score"].count()*100
perc_passing_read

82.97166198621395

In [14]:
#% overall passing
overall_passing=((avg_math + avg_reading)/2)
overall_passing

80.43160582078121

# DISTRICT SUMMARY

In [15]:
#District Summary df
district_summary= pd.DataFrame ({"Total Schools":[total_schools],"Total students":[total_students],"Total budget":[total_budget],
                                "Average math score":[avg_math],"Average reading score":[avg_reading],"% passing math":[perc_passing_math],
                                "% passing reading":[perc_passing_read],"% overall passing":[overall_passing]})
district_summary

,Total Schools,Total students,Total budget,Average math score,Average reading score,% passing math,% passing reading,% overall passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

In [16]:
#School name
school_names=school_data_complete["school_name"].unique()
school_names
#15 schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [17]:
#chool type
sch_types=school_data.set_index(["school_name"])["type"]
sch_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [18]:
#Total students
stud_per_sch=school_data_complete["school_name"].value_counts()
stud_per_sch.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [19]:
#Total school budget
tot_budget=school_data_complete.groupby(["school_name"])["budget"].mean()
tot_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [20]:
#Per student budget
bud_per_stud=tot_budget/stud_per_sch
bud_per_stud

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [21]:
#Average math score per school
avg_math_sch=school_data_complete.groupby(["school_name"])["math_score"].mean()
avg_math_sch.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [22]:
#Average reading score per school
avg_reading_sch=school_data_complete.groupby(["school_name"])["reading_score"].mean()
avg_reading_sch.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [23]:
#% passing math per school
pass_math_persch=school_data_complete.loc[school_data_complete["math_score"]>=70]
pass_math_persch.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635